<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiubai.lzenglish">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>//震动
    <uses-permission android:name="android.permission.BODY_SENSORS"/>//传感器权限
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>//录音

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EntryActivity"
            android:theme="@style/AppTheme.NoActionBarOverlay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarOverlay" />
        <activity
            android:name=".ui.activity.ChooseAgeActivity"
            android:theme="@style/AppTheme.NoActionBarOverlay" />
        <activity
            android:name=".ui.activity.ChoosePreferenceVideoActivity"
            android:theme="@style/AppTheme.NoActionBarOverlay" />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBarOverlay" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBarOverlay" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.activity.SearchVideoActivity"
            android:theme="@style/AppTheme.NoActionBarOverlay" />
        <activity
            android:name=".ui.activity.PlayVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBarOverlay" />
        <activity
            android:name=".ui.activity.DownloadActivity"
            android:theme="@style/AppTheme.NoActionBarOverlay" />
        <activity
            android:name=".ui.activity.HistoryActivity"
            android:theme="@style/AppTheme.NoActionBarOverlay" />
        <activity
            android:name=".ui.activity.ShadowingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBarOverlay" />
        <activity android:name=".ui.activity.SeasonListActivity"/>

        <meta-data android:value="592ac65ff43e4805000013f6" android:name="UMENG_APPKEY"/>
        <meta-data android:value="Developer" android:name="UMENG_CHANNEL"/>

    </application>
</manifest>